nav {
    background-color: black;
    color: white;
    width: 100%;
}

.nav-icons {
    width: 30px;
    height: 30px;
}

h1 {
    text-align: center;
}
h3 {
    text-align: center;
}
li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin: 35px;
}

.product-container{
   align-content: center;
}

footer {
    background-color: lightgray;
    position: fixed;
    left: 0;
   bottom: 0;
   width: 100%;
}